html {
    scroll-behavior: smooth;
  }

  @media only screen and (max-width: 768px) {
    #landingsection1, #landingsection2 {
        width: 100% !important;
    }

    #landingsection1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #donatebtn {
        margin-right: 0 !important;
        margin-bottom: 8px !important;
    }

    #landingsection2 {
        margin-top: 16px !important;
    }

    #logoimage {
        min-width: 10rem !important;
    }
  }